<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<typeAliases>
		<typeAlias type="com.shopping.dto.Customer" alias="Customer"/>
		<typeAlias type="com.shopping.dto.Product" alias="Product"/>
		<typeAlias type="com.shopping.dto.Orders" alias="Orders"/>
		<typeAlias type="com.shopping.dto.OrderItem" alias="OrderItem"/>
	</typeAliases>
	<mappers>
		 <mapper resource="com/shopping/mapper/ShoppingMapper.xml"/> 
	</mappers>
</configuration>

<!-- 
	클래스 맵퍼 등록 시 class 속성을 사용하고, 구분은 .으로 한다.
 -->

